@import "tailwindcss" source("../../");
@import "tw-animate-css";

@import "@fontsource-variable/ubuntu-sans-mono";
@import "@fontsource-variable/roboto";

@import "./theme.css";

@plugin "@tailwindcss/typography";

/* Tailwind integration */
@theme static {
  --color-background: var(--d-background);
  --color-foreground: var(--d-foreground);
  --color-card: var(--d-card);
  --color-card-foreground: var(--d-card-foreground);
  --color-popover: var(--d-popover);
  --color-popover-foreground: var(--d-popover-foreground);
  --color-primary: var(--d-primary);
  --color-primary-foreground: var(--d-primary-foreground);
  --color-secondary: var(--d-secondary);
  --color-secondary-foreground: var(--d-secondary-foreground);
  --color-muted: var(--d-muted);
  --color-muted-foreground: var(--d-muted-foreground);
  --color-accent: var(--d-accent);
  --color-accent-foreground: var(--d-accent-foreground);
  --color-destructive: var(--d-destructive);
  --color-destructive-foreground: var(--d-destructive-foreground);
  --color-border: var(--d-border);
  --color-input: var(--d-input);
  --color-ring: var(--d-ring);
  --color-edge: color-mix(in oklab, var(--d-border) 75%, var(--d-background));
  
  /* --color-success: var(--d-success);
  --color-link: var(--d-link); */

  --font-sans: var(--d-font-sans);
  --font-mono: var(--d-font-mono);
  --font-heading: var(--d-font-sans);

  --radius: var(--d-radius);
  --shadow-2xs: var(--d-shadow-2xs);
  --shadow-xs: var(--d-shadow-xs);
  --shadow-sm: var(--d-shadow-sm);
  --shadow: var(--d-shadow);
  --shadow-md: var(--d-shadow-md);
  --shadow-lg: var(--d-shadow-lg);
  --shadow-xl: var(--d-shadow-xl);
  --shadow-2xl: var(--d-shadow-2xl);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50;
  }

  html {
    @apply motion-safe:scroll-smooth;
  }

  body {
    @apply overscroll-y-none bg-background font-sans text-foreground antialiased;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  /* Custom scrollbar styling. Thanks @shadcn-ui */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-ring);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-ring) transparent;
  }

  [id] {
    @apply scroll-mt-12;
  }
}


@utility link {
  @apply font-medium underline underline-offset-4;
}

@utility screen-line-before {
  @apply relative before:absolute before:top-0 before:-left-[100vw] before:-z-1 before:h-px before:w-[200vw] before:bg-edge;
}

@utility screen-line-after {
  @apply relative after:absolute after:bottom-0 after:-left-[100vw] after:-z-1 after:h-px after:w-[200vw] after:bg-edge;
}

.prose blockquote p::before,
.prose blockquote p::after {
  content: none !important;
}