.blinking_grid_cell {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.cell_container {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: all ease-in-out;
  color: var(--color-edge);
}

.cell_container--glowing {
  transition-duration: 1024ms;
  color: var(--color-secondary);
}

.cell_container--initial {
  pointer-events: auto;
  z-index: 10;
  width: 100% !important;
  height: 100% !important;
  transition-duration: 100ms;
  background-color: var(--color-primary);
  transform: translateX(-9px);
}

@media (min-width: 640px) {
  .cell_container--initial {
    transform: translateX(-14px);
  }
}

.cell_container--initial:hover {
  cursor: pointer;
  opacity: 0.8;
}

.blinking-grid-placeholder {
  display: flex;
  width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;
  color: var(--color-edge);
}

@media (min-width: 640px) {
  .blinking-grid-placeholder {
    width: 28px;
    height: 28px;
  }
}

.cell-placeholder {
  position: relative;
  height: 5px;
  width: 5px;
}

.cell-placeholder::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 1px;
  transform: translateX(-50%);
  background-color: currentColor;
}

.cell-placeholder::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  transform: translateY(-50%);
  background-color: currentColor;
}